/****************************/
/** ALLE BLOKJES & BUTTONS  MENU!**/

main > section > ul > li {
    /* de buttons in het midden van de li's positioneren */
    display:grid;
    place-content:center;
    list-style-type: none;
    text-decoration: none;
  }
  
  main > section > ul > li button {
    /* vierkant */
    /* developer.mozilla.org/en-US/docs/Web/CSS/aspect-ratio */
    height:2.75rem;
    aspect-ratio:1/1;
    
    /* de default padding van een button verwijderen */
    padding:0;
    
    /* blauw met witte tekst en geen border */
    color:var(--color-button-text);
    background-color:var(--color-button-background);
    border:none;
    
    /* tekst zelfde als normale tekst (qua font en grootte) */
    /* nb. default wordt een systeem-font gebruikt voor buttons */
    /* nb. default is tekst van buttons iets kleiner dan van een p */
    font-family:inherit;
    font-size:1em;
    
  }
  
  /* de button is iets donkerder tijdens het klikken */
  main > section > ul > li button:active {
    background-color:var(--color-button-background-active);
  }
  
  
  
  /****************************/
  /** DERDE STREEPJES BUTTON **/
  
  
  section.streepjes ul {
    list-style-type: none;
    text-decoration: none;
  }
  
  
  section.streepjes li button {
    padding:.5em 1em;
    /* de aspect-ratio die voor alle buttons was ingesteld ongedaan maken */
    aspect-ratio:unset;
    
    /* een grid met 2 kolommen */
    /* eerste kolom voor de spans (auto) */
    /* tweede kolom voor de tekst (auto) */
    /* .5em ruimte tussen de kolommen met gap */
    /* de grid-kinderen met alalign-items-items in het midden van de grid-cellen positionern */
    display:grid;
    grid-template-columns:auto auto;
    gap:.5em;
    align-items:center;
    top: -4em;
    right: -21.5em;
    
    
    /* ronde hoekjes en hoofdletters */
    border-radius:1.375em;
    text-transform:uppercase;
    
    /* transities duren .5s */
    transition-duration:.5s;
  }
  
  /* alledrie de streepjes */
  section.streepjes li button span {
    /* alledrie de spans in de eerste rij en tweede kolom */
    /* ze staan dan over elkaar heen */
    grid-row-start:1;
    grid-column-start:2;
    
    /* grootte en kleur van de streepjes */
    width:.9rem;
    height:.15rem;
    background-color:var(--color-button-text);
    
    /* transities duren .5s */
    transition-duration:.5s;
  }
  
  /* het eerste streepje */
  section.streepjes li button span:nth-of-type(1) {
    /* met transform: */
    /* .3em omhoog */
    transform:translateY(-.3rem);
  }
  
  /* het tweede streepje
  section.streepjes li button span:nth-of-type(2) {
     /* staat al op de goede plek  
  } */
  
  /* het derde streepje */
  section.streepjes li button span:nth-of-type(3) {
    /* met transform: */
    /* .3em omlaag */
    transform:translateY(.3rem);
  }
  
  /*********************************************************/
  /* als de DERDE STREEPJES BUTTON de class menuOpen heeft */
  
  
  /* section.streepjes li button.menuOpen {
    /* achtergrondkleur wijzigen naar --color-button-background-open */
    /* background-color:var(--color-button-background-open); 
  } */
  
  /* het eerste streepje */
  section.streepjes li button.menuOpen span:nth-of-type(1) {
    /* met transform: */
    /* 1. 135 graden draaien met de klok mee */
    /* 2. 25% langer maken */
    transform:
      rotate(135deg) 
      scalex(1.25);
  }
  
  /* het tweede streepje */
  section.streepjes li button.menuOpen span:nth-of-type(2) {
    /* met transform: */
    /* horizontaal helemaal plat maken */
    transform:
      scalex(0);
  }
  
  /* het derde streepje */
  section.streepjes li button.menuOpen span:nth-of-type(3) {
    /* met transform: */
    /* 1. 135 graden draaien tegen de klok in */
    /* 2. 25% langer maken */
    transform:
      rotate(-135deg) 
      scalex(1.2);
  }




/****************************************************************/
/* EERSTE SECTION  /*
/****************************************************************/

main section:nth-of-type(1)   {
    display: flex;
    flex-direction: column;
    margin-top:3em;
    margin-left:-2em;
    overflow:hidden;
  }

  ul.open li {
	transform:translateX(0vw);
}
  
  main section:nth-of-type(1) img {
    width: 100%;
    object-fit: cover;
    position: relative; 
    display: block;
    margin-left: -18em;
    top: .5em;
    z-index:-1;
  }

  main section:nth-of-type(1) li {
    height:30em;
	flex-shrink:0;
	transform:translateX(-75vw);
	transition:.3s;
  }
  
  main section:nth-of-type(1) li:nth-of-type(1) {
	width:100vw;
	margin-left:-3em;
	display:flex;
	justify-content:end;
	align-items:center;
  }


  main section:nth-of-type(1) li:nth-of-type(2) {
      display: flex;
      flex-direction: column;
      margin-top:-30em;
      margin-left:17em;
	  width:75vw;
  }
  
  main section:nth-of-type(1) ul li:nth-of-type(1) button img {
    display:flex;
	justify-content:end;
	align-items:center;
    left:24em;
    width:7vw;
    z-index:1;
  }


  /*********************/
  /* EERSTE SECTION FONTS */
  
  :root {
    --color-div-h2: #13670b;
    --color-div-h3: #999999;
    --color-div-p: #999999;
    --color-div-button-text: white;
    --color-div-button-background: #cccccc;
  
    --color-div-hover-text: white;
    --color-div-hover-background:black;
    --color-div-focus-background: #cccccc;
    --color-div-active-text:white;
    --color-div-active-background: #e3000f;
  }
  
  
  main section:nth-of-type(1)  h2 {
    font-family: Heineken;
    font-size: 1.875em;
    color: var(--color-div-h2);
    letter-spacing: .031875rem;
    margin:0;
    padding: 0.1em;
    list-style-type: none;
    text-decoration: none;
    margin-left:2.7em;
    order: 2;
    width:9em;
  }
  
  main section:nth-of-type(1)  h3 {
    font-size: .75em;
    font-family: PT sans, sans-serif;
    font-weight:lighter;
    color: var(--color-div-h3);
    text-transform: uppercase;
    text-decoration: none;
    list-style-type: none;
    letter-spacing: .031875rem;
    margin-left:7em;
    order:1;
  }
  
  main section:nth-of-type(1)  p {
    font-size: 1em;
    font-family: PT sans, sans-serif;
    font-weight:lighter;
    color: var(--color-div-p);
    text-decoration: none;
    list-style-type: none;
    letter-spacing: .031875rem;
    margin-left:5.3em;
    width: 18em;
    order:3;
  }
  
  main section:nth-of-type(1)  a {
    font-family: PT sans, sans-serif;
    color: var(--color-div-button-text);
    background-color: var(--color-div-button-background);
    letter-spacing: .031875rem;
    text-decoration: none;
    margin-top: 2.5em;
    margin-left:5.5em;
    padding: 0.8em;
    text-align: center;
    display: inline-block;
    border-radius: 0;
    cursor: pointer;
    width: 9.5em;
    order:4;
  }
  
  main section:nth-of-type(1)  a:hover {
    background-color: var(--color-div-hover-background);
    color: var(--color-div-hover-text);
    cursor:pointer;
  }
  
  main section:nth-of-type(1)  a:focus{
    outline:none;
    background-color: var(--color-div-focus-background);
  }
  
  main section:nth-of-type(1)  a:active{
    background-color:var(--color-div-active-background);
    color: var(--color-div-active-text);
  }
  

/****************************************************************/
/* TWEEDE SECTION  /*
/****************************************************************/

main section:nth-of-type(2) ul li {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}

main section:nth-of-type(2) ul li img {
    width:60%;
}








 /****************************************************************/
  /* ZEVENDE SECTION  /*
  /****************************************************************/
  :root {
    --color-forminput-background: #ffffff1a;
    --color-forminput-placeholder-text: white;
    --color-form-button-background: #ffffff57;
    --color-form-button-text: white;
  
    --color-form-button-hover-background: white;
    --color-form-button-hover-text: #13670b;
  
    --color-label-text:white;
  
    --color-section7-h2: white;
    --color-section7-p: white;
  }
  
  
  section:nth-of-type(4)  {
    background: transparent radial-gradient(closest-side at 50% 50%,#51a025 0%,#13670b 71%,#005d1f 100%) 0% 0% no-repeat padding-box;
    opacity: .9;
    height:18em;
  }
  
  section:nth-of-type(4) form {
    display:flex;
    margin-left:2.8em;
  }
  
  section:nth-of-type(4) form input[type="email"] {
    background-color: var(--color-forminput-background);
    padding:.6875rem 1.25rem;
    border:.0625rem solid rgba(255,255,255,.2);
    display: block;
    border-radius: .5em 0 0 0.5em;
    cursor:pointer;
  }
  
  section:nth-of-type(4) form input::placeholder {
    color: var(--color-forminput-placeholder-text);
  }
  
  section:nth-of-type(4) form button {
    background-color:var(--color-form-button-background);
    color:var(--color-form-button-text);
    padding:.6875rem 1.25rem;
    border:.0625rem solid rgba(255,255,255,.2);
    border-radius: 0 0.5em 0.5em 0;
  }
  
  section:nth-of-type(4) form button:hover {
    background-color:var(--color-form-button-hover-background);
    color:var(--color-form-button-hover-text);
  }
  
  section:nth-of-type(4) label {
    color: var(--color-label-text);
    font-family: PT sans, sans-serif;
    font-size: .875em;
    margin-left: .5em;
  }
  
  section:nth-of-type(4) h2 {
    font-family:Heineken;
    font-size:1.125em;
    color: var(--color-section7-h2);
    text-align: center;
    padding-top:2em;
  }
  
  section:nth-of-type(4) p {
    font-family: PT sans, sans-serif;
    font-size:.875em;
    color: var(--color-section7-p);
  }





/****************************************************************/
/* FOOTER  /*
/****************************************************************/
:root {
  --color-footer-linkjes:white;
  --color-footer-p: white;
}

footer  {
  background: linear-gradient(180deg, rgba(0,93,31,1) 0%, rgba(0,0,0,1) 100%);
  height: 50em;
  position:relative;
}

footer img {
  width: 22%;
  margin-left: auto;
  margin-right:auto;
  display:block;
  padding-top:4em;
  padding-bottom:1.5em;
}


footer ul:nth-of-type(1) {
  margin-top:2em;
  padding-left:0em;
  display:block;
}

footer ul:nth-of-type(1) li a {
  font-family: PT sans, sans-serif;
  font-size:.875em;
  color: var(--color-footer-linkjes);
  text-decoration: none;
  list-style-type: none;
  line-height: 2.5em;
}

footer ul:nth-of-type(1) li {
  text-decoration: none;
  list-style-type: none;
  text-align: center;
}


footer ul:nth-of-type(1) li:hover {
  text-decoration: underline;
}


footer ul:nth-of-type(2) {
  display:flex;
  margin-top:-4em;
  margin-left:auto;
  margin-right:auto;
  width:80%;

}

footer ul:nth-of-type(2) li {
  padding:0em;
  margin:0em;
  text-decoration: none;
  list-style-type: none;

}


footer ul:nth-of-type(2) li:nth-of-type(1) a img {
  margin-left:0em;
  opacity:.4;
}

footer ul:nth-of-type(2) li:nth-of-type(1) a img:hover {
  opacity:1;
  
}

footer ul:nth-of-type(2) li:nth-of-type(2) a img {
  margin-left:1.5em;
  margin-top:4em;
  padding: 0em;
  margin-right:0em;
  opacity:.4;
}

footer ul:nth-of-type(2) li:nth-of-type(2) a img:hover {
  opacity:1;
  
}

footer ul:nth-of-type(2) li:nth-of-type(3) a img {
  margin-left:0em;
  opacity:.4;
}

footer ul:nth-of-type(2) li:nth-of-type(3) a img:hover {
  opacity:1;
  
}

footer ul:nth-of-type(2) li:nth-of-type(4) a img {
  margin-left:0em;
  opacity:.4;
}

footer ul:nth-of-type(2) li:nth-of-type(4) a img:hover {
  opacity:1;
  
}

footer p {
  font-family: PT sans, sans-serif;
  font-size:.875em;
  color: var(--color-footer-p);
  opacity:.4;
  text-align: center;
  margin-top:5em;
}

footer div a img {
  width:9%;
  opacity:.4;
  margin-top: -2em;
  display:block;
}

footer div a img:hover {
  opacity:1;
  
}


