body {
    margin: 0em;
}

/**********/
/* DIT IS DE HEADER */
/**********/

:root {
  --color-header-background:#000000;

  --color-header-button: white;

  --color-header-text: white;

  --color-header-hover-background: white;
  --color-header-hover-text:black;

  --color-header-focus-background: #13670b;

  --color-header-active-background: black;
  --color-header-active-text:white;
}


header {
  background-color: var(--color-header-background);
  position:sticky;
  top: 0;
  z-index:1;
  height:4.5em;
}

header img  {
  width: 24%;
  padding: 0.9em;
}

header button {
  z-index: 100;
  position: relative;
  right: -13.5em;
  top: -1.2em; 
  background-color: transparent;
  color: var(--color-header-button);
  cursor: pointer;
  border:none;
}

header nav {
  padding-top:4em;
  position: fixed;
  top:0;
  bottom:0;
  left:0em;
  right:0;
  text-align: left;
  background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,93,31,1) 100%);
  transform: translateX(-100%);
  transition: .3s;
  line-height:3em;
  font-family: PT sans, sans-serif;
  font-size: 0.875em;
}

header.menuOpen nav {
  transform: translateX(0%);
  opacity: 100;
}

header nav ul  {
  margin:0; 
  padding:1em;
  list-style:none;
}

header nav ul li {
  margin-left: 10em;
  display: block;
  transition-duration: 0.5s;
}
  
header nav ul li:hover {
text-decoration: underline;
cursor: pointer; 
}

header nav ul li a {
  font-family: PT sans, sans-serif;
  font-size: 0.875em;
  letter-spacing: .031875rem;
  color: var(--color-header-text);
  text-transform: uppercase;
  text-decoration: none;
  list-style-type: none;
}


/****************************/
/** CODE VOOR MENU KNOP, CODE VAN SANNE HULP GEKREGEN DUS BEGRIJP NIET ALLES! **/
/****************************/

/* Simpele CSS Remedy */
/* naar een idee van Jen Simmons */
/* github.com/jensimmons/cssremedy */
*, *::after, *::before {
  box-sizing:border-box;  
}

button:not([disabled]), summary {
	cursor:pointer;
}

/***********************/
/** CUSTOM PROPERTIES **/
/***********************/

:root {
  --color-button-text:#fff;
  
  --color-button-background:hsl(210, 100%, 56%);
  --color-button-background-active:hsl(210, 100%, 46%);
  --color-button-background-open:hsl(348, 83%, 47%);
  
  --color-button-icon-open:gold;
  
  /* voor de 3D kubus */
  --color-button-background-dark:hsl(210, 100%, 41%);
  --color-button-background-open-dark:hsl(348, 83%, 32%);
}


/****************************/
/** ALLE BLOKJES & BUTTONS **/

main > section > ul > li {
  /* de buttons in het midden van de li's positioneren */
  display:grid;
  place-content:center;
  list-style-type: none;
  text-decoration: none;
}

main > section > ul > li button {
  /* vierkant */
  /* developer.mozilla.org/en-US/docs/Web/CSS/aspect-ratio */
  height:2.75rem;
  aspect-ratio:1/1;
  
  /* de default padding van een button verwijderen */
  padding:0;
  
  /* blauw met witte tekst en geen border */
  color:var(--color-button-text);
  background-color:var(--color-button-background);
  border:none;
  
  /* tekst zelfde als normale tekst (qua font en grootte) */
  /* nb. default wordt een systeem-font gebruikt voor buttons */
  /* nb. default is tekst van buttons iets kleiner dan van een p */
  font-family:inherit;
  font-size:1em;
  
}

/* de button is iets donkerder tijdens het klikken */
main > section > ul > li button:active {
  background-color:var(--color-button-background-active);
}



/****************************/
/** DERDE STREEPJES BUTTON **/


section.streepjes ul {
  list-style-type: none;
  text-decoration: none;
}


section.streepjes li button {
  padding:.5em 1em;
  /* de aspect-ratio die voor alle buttons was ingesteld ongedaan maken */
  aspect-ratio:unset;
  
  /* een grid met 2 kolommen */
  /* eerste kolom voor de spans (auto) */
  /* tweede kolom voor de tekst (auto) */
  /* .5em ruimte tussen de kolommen met gap */
  /* de grid-kinderen met alalign-items-items in het midden van de grid-cellen positionern */
  display:grid;
  grid-template-columns:auto auto;
  gap:.5em;
  align-items:center;
  top: -4em;
  right: -21.5em;
  
  
  /* ronde hoekjes en hoofdletters */
  border-radius:1.375em;
  text-transform:uppercase;
  
  /* transities duren .5s */
  transition-duration:.5s;
}

/* alledrie de streepjes */
section.streepjes li button span {
  /* alledrie de spans in de eerste rij en tweede kolom */
  /* ze staan dan over elkaar heen */
  grid-row-start:1;
  grid-column-start:2;
  
  /* grootte en kleur van de streepjes */
  width:.9rem;
  height:.15rem;
  background-color:var(--color-button-text);
  
  /* transities duren .5s */
  transition-duration:.5s;
}

/* het eerste streepje */
section.streepjes li button span:nth-of-type(1) {
  /* met transform: */
  /* .3em omhoog */
  transform:translateY(-.3rem);
}

/* het tweede streepje
section.streepjes li button span:nth-of-type(2) {
   /* staat al op de goede plek  
} */

/* het derde streepje */
section.streepjes li button span:nth-of-type(3) {
  /* met transform: */
  /* .3em omlaag */
  transform:translateY(.3rem);
}

/*********************************************************/
/* als de DERDE STREEPJES BUTTON de class menuOpen heeft */


/* section.streepjes li button.menuOpen {
  /* achtergrondkleur wijzigen naar --color-button-background-open */
  /* background-color:var(--color-button-background-open); 
} */

/* het eerste streepje */
section.streepjes li button.menuOpen span:nth-of-type(1) {
  /* met transform: */
  /* 1. 135 graden draaien met de klok mee */
  /* 2. 25% langer maken */
  transform:
    rotate(135deg) 
    scalex(1.25);
}

/* het tweede streepje */
section.streepjes li button.menuOpen span:nth-of-type(2) {
  /* met transform: */
  /* horizontaal helemaal plat maken */
  transform:
    scalex(0);
}

/* het derde streepje */
section.streepjes li button.menuOpen span:nth-of-type(3) {
  /* met transform: */
  /* 1. 135 graden draaien tegen de klok in */
  /* 2. 25% langer maken */
  transform:
    rotate(-135deg) 
    scalex(1.2);
}


/**********/
/* FONT H1 & H2 EERSTE SECTION */
/**********/

main section:nth-of-type(1) h1 {
    font-family: Heineken;
    font-size: 2.5em;
    color: var(--color-header-text);
    letter-spacing: .031875rem;
    margin:0;
    padding: 0.1em;
    list-style-type: none;
    text-decoration: none;
    order: 2;
}

main section:nth-of-type(1) h2 {
    font-family: PT sans, sans-serif;
    font-size: 0.750em;
    font-weight:lighter;
    text-transform: uppercase;
    text-decoration: none;
    list-style-type: none;
    letter-spacing: .031875rem;
    margin-bottom:0em;
    color: var(--color-header-text);
    order: 1;
}


/**********/
/* HEINEKEN SILVER BEGIN POSITIONERING 1E SECTION */
/**********/
main section:nth-of-type(1) {
  height:30em;
  position:relative;
}

main section:nth-of-type(1) div {
  position:absolute;
  top: 12em;
  left: 2em;
  width: 16em;
  display:flex;
  flex-direction: column;
}

main section:nth-of-type(1) img {
  height:100%;
  width: 100%;
  object-fit: cover;
  position: relative; 
  display: block;
  z-index: -1;
  filter:brightness(.5);
}

main section:nth-of-type(1) a {
  font-family: PT sans, sans-serif;
  color: var(--color-header-button);
  background-color: #ffffff80;
  letter-spacing: .031875rem;
  text-decoration: none;
  top: 10em;
  padding: 1em ;
  text-align: center;
  display: inline-block;
  border-radius: 0;
  width: 60%;
  order: 3;
}

main section:nth-of-type(1) a:hover {
  background-color: var(--color-header-hover-background);
  color: var(--color-header-hover-text);
  cursor:pointer;
}

main section:nth-of-type(1) a:focus {
  outline:none;
  background-color: var(--color-header-focus-background);
}

main section:nth-of-type(1) a:active {
  background-color: var(--color-header-active-background);
  color: var(--color-header-active-text);
}




/****************************************************************/
/* TWEEDE SECTION 'ONS VERHAAL' */
/****************************************************************/

section:nth-of-type(2) ul {
  display:grid;
  grid-template-columns: 10em 10em;
  grid-template-rows: 5em 7.75em 7.75em; 
  gap: 1em;
  padding: 1em;
  margin:0;
  position:relative;
  z-index: -1;
}

section:nth-of-type(2) ul li:nth-of-type(1) {
  grid-column: 1/3;
  grid-row: 1/3;
  list-style-type: none;
  filter:brightness(.5);
  height:100%;
  width: 100%;
  object-fit:cover;
  position: relative; 
  display: block;
  z-index: -1;
}

section:nth-of-type(2) ul li:nth-of-type(2) {
  grid-column: 1/2;
  grid-row: 3/4;
  background-size:cover;
  background-repeat: no-repeat; 
  list-style-type: none;
  position:absolute;
  display: contents;
}

section:nth-of-type(2) ul li:nth-of-type(3) {
  grid-column:2/3;
  grid-row:3/4;
  background-size:cover;
  background-repeat: no-repeat; 
  list-style-type: none;
  position:absolute;
  display: contents;
}

section:nth-of-type(2) ul li img {
  text-decoration: none;
  list-style-type: none;
  width: 100%;
  height: 100%;
}

main section:nth-of-type(2) {
  height:30em;
  position:relative;
}

.historie  {
  position:absolute;
  top: 12em;
  left: 2em;
  width: 12em;
  height: 10em;
  display:flex;
  flex-direction: column;
  background: transparent radial-gradient(closest-side at 50% 50%,#51a025 0%,#13670b 71%,#005d1f 100%) 0% 0% no-repeat padding-box;
  opacity: .9;
  top: 6.5em;
}

.beterewereld {
  position:absolute;
  top: 12em;
  left: 2em;
  width: 6em;
  height: 6.3em;
  display:flex;
  flex-direction: column;
  background: transparent radial-gradient(closest-side at 50% 50%,#51a025 0%,#13670b 71%,#005d1f 100%) 0% 0% no-repeat padding-box;
  opacity: .9;
  top: 19em;
}

.brouwproces {
  position:absolute;
  top: 12em;
  left: 13em;
  width: 6em;
  height: 4em;
  display:flex;
  flex-direction: column;
  background: transparent radial-gradient(closest-side at 50% 50%,#51a025 0%,#13670b 71%,#005d1f 100%) 0% 0% no-repeat padding-box;
  opacity: .9;
  top: 21.2em;
}

/****************************************************************/
/* TWEEDE SECTION 'ONS VERHAAL'  FONTJES! */

:root {  
  --color-text-h2: #13670b;
  --color-text-vlakken: white;
}


section:nth-of-type(2) h2 {
  font-family: Heineken;
  font-size: 2.25em;
  color: var(--color-text-h2);
  text-transform: uppercase;
  padding-left: .5em;
  margin-bottom: 0em;
}

.historie h3 {
  font-family: Heineken;
  color: var( --color-text-vlakken);
  font-size: 1.125em;
  top: 0em;
  margin:0;
  left: 1em;
  padding-left:0.4em;
  text-overflow: ellipsis;
  white-space: wrap;
  overflow: hidden;
  order: 2;
}

.historie h4 {
  font-family: PT sans, sans-serif;
  font-size: 0.750em;
  font-weight:lighter;
  text-transform: uppercase;
  text-decoration: none;
  list-style-type: none;
  letter-spacing: .031875rem;
  color: var( --color-text-vlakken);
  padding-left:0.4em;
  order:1;
}

.historie p {
  font-family: PT sans, sans-serif;
  font-size: 0.625em;
  color: var( --color-text-vlakken);
  padding-left:0.4em;
  white-space: wrap;
  overflow: hidden;  
  order: 3;
}

.beterewereld h3 {
  font-family: Heineken;
  color: var(--color-text-vlakken);
  font-size: 0.75em;
  top: 0em;
  margin:0;
  left: 1em;
  padding-left:0.4em;
  text-overflow: ellipsis;
  white-space: wrap;
  overflow: hidden;
  order:2;
}

.beterewereld h4 {
  font-family: PT sans, sans-serif;
  font-size: 0.5em;
  font-weight:lighter;
  text-transform: uppercase;
  text-decoration: none;
  list-style-type: none;
  letter-spacing: .031875rem;
  color: var(--color-text-vlakken);
  padding-left:0.4em;
  order:1;
}

.brouwproces h3 {
  font-family: Heineken;
  color:var(--color-text-vlakken);
  font-size: 0.75em;
  top: 0em;
  margin:0;
  left: 1em;
  padding-left:0.4em;
  text-overflow: ellipsis;
  white-space: wrap;
  overflow: hidden;
  order:2;
}

.brouwproces h4 {
  font-family: PT sans, sans-serif;
  font-size: 0.5em;
  font-weight:lighter;
  text-transform: uppercase;
  text-decoration: none;
  list-style-type: none;
  letter-spacing: .031875rem;
  color: var( --color-text-vlakken);
  padding-left:0.4em;
  order:1;
}


/****************************************************************/
/* START CARROUSEL ALGEMENE STIJLEN + 3e SECTION /*
/****************************************************************/

*, *::before, *::after {
  box-sizing: border-box;
}

:root {
	--maxWidth:32rem;
}

body {
	grid-template-columns: minmax(auto, var(--maxWidth));
	justify-content:center;
}

  
/******************************/
/* DE CAROCARROUSEL CONTAINER */


.caroCarrousel {
	/* basis waarden die door de hele carrousel gebruikt worden */
	/* kun je zelf aanpassen */
	--caroCarrouselMainColor:#333;
  --caroCarrouselAccentColor:#1b75b3;
	--caroCarrouselShadeColor:#ddd9;
  --caroCarrouselInverseColor:#e48a4c;
  
  --caroCarrouselAutoScrollInterval:4000;

  position: relative;
	outline:none;
}

/* dark mode */
@media (prefers-color-scheme: dark) {
  .caroCarrousel {
    --caroCarrouselMainColor:#ccc;
    --caroCarrouselShadeColor:#4449;
  }
}


/************************************/
/* de carrousel elementen container */
.caroCarrousel > ul {
  margin: 0; padding: 0;
  list-style: none;
	display: flex;
	
	/* handmatig scrollen is mogelijk */
	overflow: hidden;
	
	/* snappen als er gescrolled wordt - andere helft bij li */
  scroll-snap-type: inline mandatory;
  /* scrollbar zoveel mogelijk verbergen */
  -webkit-overflow-scrolling: touch; /* voor iOS*/
  -ms-overflow-style: none; /* voor IE */
	scrollbar-width: none; /* voor firefox */
}

.caroCarrousel > ul::-webkit-scrollbar {
  /* scrollbar zoveel mogelijk verbergen */
  display: none; /* voor chrome, safari en edge*/
}


/**************************/
/* de carrousel elementen */
.caroCarrousel > ul li {
  flex-basis: 100%;
  flex-shrink: 0;
  /* snappen als er gescrolled wordt - andere helft bij ul */
	scroll-snap-align:center;
}


/**********************************/
/* de carrousel elementen content */

/* de stijlen voor jouw content hier */
.caroCarrousel > ul li > img {
  display: block;
  width: 65%;
  margin-left: 11em;
}

/* .caroCarrousel ul li:nth-of-type(1) {
  display: flex;
} */



/******************************/
/* DE CAROCARROUSEL FONTS */

:root {
  --color-text-h2-eersteli: #13670b;
  --color-broodtekst-p: #999999;

  --color-element1-link: #13670b;
  --color-element1-hover-background: black;
  --color-element1-hover-text:white;
  --color-element1-focus-background: #cccccc;
  --color-element1-active-background: #e3000f;
  --color-element1-active-text:white;

  --color-text-h2-tweedeli: #1b4677;

  --color-background-button: #1b4677;
  --color-text-background: white;
  --color-element2-hover-background: #cccccc;
  --color-element2-hover-text:white;
  --color-element2-focus-background: black;
  --color-element2-active-background: #e3000f;
  --color-element2-active-text:white;

  --color-meerproducten: #646464;

  --color-text-h2-derdeli: #646464;

  --color-element3-button-text: white;
  --color-element3-button-background: #cccccc;
  --color-element3-hover-background: black;
  --color-element3-hover-text:white;
  --color-element3-focus-background: #cccccc;
  --color-element3-active-background: #e3000f;
  --color-element3-active-text:white;
}


.caroCarrousel ul li:nth-of-type(1) h2 {
  font-family: Heineken;
  font-size: 1.875em;
  color: var(--color-text-h2-eersteli);
  line-height: 1.3; 
  letter-spacing: .031875rem;
  padding-left: 1.5em;
  top: -20em;
  margin-top: -10em;
  padding-bottom: 0;
  width: 1em;
}

.caroCarrousel ul li:nth-of-type(1) p {
  font-family: PT sans, sans-serif;
  font-size: 1em;
  color: var(--color-broodtekst-p); 
  font-weight:lighter;
  letter-spacing: .031875rem;
  width: 13em;
  margin: 0;
  padding-left: 2.7em; 
  margin-top: -12em;
} 

#element1 a {
  font-family: PT sans, sans-serif;
  color: white;
  background-color: var(--color-element1-link);
  letter-spacing: .031875rem;
  text-decoration: none;
  margin-top: 2.5em;
  margin-left:2.7em;
  padding: 0.8em;
  text-align: center;
  display: inline-block;
  border-radius: 0;
  cursor: pointer;
  width: 9.5em;
}

#element1 a:hover {
  background-color: var( --color-element1-hover-background);
  color: var(--color-element1-hover-text);
}

#element1 a:focus {
  outline:none;
  background-color: var(--color-element1-focus-background);
}

#element1 a:active {
  background-color:var(--color-element1-active-background);
  color: var(--color-element1-active-text);
}

.caroCarrousel ul li:nth-of-type(2) h2 {
  font-family: Heineken;
  font-size: 1.875em;
  color: var(--color-text-h2-tweedeli);
  letter-spacing: .031875rem;
  padding-left: 1.5em;
  top: -20em;
  margin-top: -10em;
  padding-bottom: 0;
  width: 1em;
}

.caroCarrousel ul li:nth-of-type(2) p{
  font-family: PT sans, sans-serif;
  font-size: 1em;
  color: var(--color-broodtekst-p);
  line-height: 1.3; 
  font-weight:lighter;
  letter-spacing: .031875rem;
  width: 13.5em;
  margin: 0;
  padding-left: 2.7em; 
  margin-top: -12em;
}

#element2 a:nth-of-type(1) {
  font-family: PT sans, sans-serif;
  color: var(--color-text-background);
  background-color: var(--color-background-button);
  letter-spacing: .031875rem;
  text-decoration: none;
  margin-top: 2.5em;
  margin-left:2.7em;
  padding: 0.8em;
  text-align: center;
  display: inline-block;
  border-radius: 0;
  cursor: pointer;
  width: 9.5em;
}

#element2 a:nth-of-type(1):hover {
  background-color: var(--color-element2-hover-background);
  color: var(--color-element2-hover-text);
}

#element2 a:nth-of-type(1):focus{
  outline:none;
  background-color: var(--color-element2-focus-background);
}

#element2 a:nth-of-type(1):active {
  background-color:var(--color-element2-active-background);
  color: var(--color-element2-active-text);
}

#element2 a:nth-of-type(2) {
  font-family: PT sans, sans-serif;
  color: var(--color-meerproducten);
  letter-spacing: .031875rem;
  text-decoration: none;
  margin-top: 1.5em;
  margin-left:2.7em;
  padding: 0.8em;
  text-align: center;
  display: inline-block;
  border-radius: 0;
  cursor: pointer;
  width: 20.5em;
}

.caroCarrousel ul li:nth-of-type(3) h2 {
  font-family: Heineken;
  font-size: 1.875em;
  color: var(--color-text-h2-derdeli);
  letter-spacing: .031875rem;
  padding-left: 1.5em;
  top: -20em;
  margin-top: -10em;
  padding-bottom: 0;
  width: 1em;
}

.caroCarrousel ul li:nth-of-type(3) p{
  font-family: PT sans, sans-serif;
  font-size: 1em;
  color: var(--color-broodtekst-p);
  line-height: 1.3; 
  font-weight:lighter;
  letter-spacing: .031875rem;
  width: 13.5em;
  margin: 0;
  padding-left: 2.7em; 
  margin-top: -12em;
}

#element3 a:nth-of-type(1) {
  font-family: PT sans, sans-serif;
  color: var(--color-element3-button-text);
  background-color: var(--color-element3-button-background);
  letter-spacing: .031875rem;
  text-decoration: none;
  margin-top: 2.5em;
  margin-left:2.7em;
  padding: 0.8em;
  text-align: center;
  display: inline-block;
  border-radius: 0;
  cursor: pointer;
  width: 9.5em;
}

#element3 a:nth-of-type(1):hover {
  background-color: var(--color-element3-hover-background);
  color: var(--color-element3-hover-text);
}

#element3 a:nth-of-type(1):focus{
  outline:none;
  background-color: var(--color-element3-focus-background);
}

#element3 a:nth-of-type(1):active {
  background-color:var(--color-element3-active-background);
  color: var(--color-element3-active-text);
}

#element3 a:nth-of-type(2) {
  font-family: PT sans, sans-serif;
  color: var(--color-meerproducten);
  letter-spacing: .031875rem;
  text-decoration: none;
  margin-top: 1.5em;
  margin-left:2.7em;
  padding: 0.8em;
  text-align: center;
  display: inline-block;
  border-radius: 0;
  cursor: pointer;
  width: 20.5em;
}


/****************/
/* DE BOLLETJES */


/* de bolletjes container */
.caroCarrousel nav ul {
  position: absolute;
	left: 2em; right: 2em;
	bottom: -3em;
	margin: 0;
  padding: 0 0 .5em;
  list-style: none;
	
	display: flex;
/* 	flex-wrap:wrap; */
  justify-content: center;
  gap:.4em;
}

/* een bolletje container */
.caroCarrousel > nav li {
	flex-basis: 1.2em;
	aspect-ratio: 1/1;
}

/* de bolletjes */
.caroCarrousel > nav a {
  display: block;
  width:100%;
  height:100%;
  
  text-decoration: none;
	color: var(--caroCarrouselMainColor);
  background-color: var(--caroCarrouselShadeColor);
	border-radius: 50%;
  outline: none;
	box-shadow: inset 0 0 0 1px currentColor;
  
  transition: 0.5s;
}

.caroCarrousel > nav a:hover,
.caroCarrousel > nav a:focus {
  color: var(--caroCarrouselAccentColor);
}

.caroCarrousel > nav a.current {
  background-color: currentColor;
}

.caroCarrousel > nav a:hover,
.caroCarrousel > nav a:focus {
  color: var(--caroCarrouselAccentColor);
}

.caroCarrousel > nav a.current {
  background-color: currentColor;
}


/*********************/
/* PLAY/PAUSE BUTTON */


.caroCarrousel > button {
  position: absolute;
  right: .5em;
  bottom: -2.5em;
  
  width: 1.2em;
  aspect-ratio:1/1;
  padding:0;
  
  font-size:inherit;
  appearance: none;
  background-color: var(--caroCarrouselShadeColor);

  border: none;
	outline: none;
	box-shadow: inset 0 0 0 1px currentColor;
	cursor: pointer;
	
  transition: 0.5s;

	display: flex;
  justify-content: center;
	align-items: center;
}

.caroCarrousel > button:hover,
.caroCarrousel > button:focus {
  color: var(--caroCarrouselAccentColor);
}

/* play/pause button */
.caroCarrousel > button::before,
.caroCarrousel > button::after {
  content: "";
  position: absolute;
  width: .5em; height: 2px;
  background-color: currentColor;
  transform-origin: calc(100% - 1px) center;
  transition:transform 0.5s;
}

/* indien niet aan het auto-scrollen */
/* de streepjes vormen een play-icoon */
.caroCarrousel > button::before {
	transform: translateY(0) rotate(45deg);
}
.caroCarrousel > button::after {
	transform: translateY(0) rotate(-45deg);
}

/* indien aan het auto-scrollen */
/* de streepjes vormen een pauze-icoon */
.caroCarrousel.autoScrolling > button::before {
	transform: translateY(-2px);
}
.caroCarrousel.autoScrolling > button::after {
	transform: translateY(2px);
}

/* in de button draait een 'eierwekker' */
.caroCarrousel.autoScrolling > button {
	animation-name: carrouselAutoScrollingButton;
  animation-duration: calc(var(--caroCarrouselAutoScrollInterval) * 1ms);
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes carrouselAutoScrollingButton {
	0%{ background-image: conic-gradient(var(--caroCarrouselInverseColor) 0%, transparent 0%); }
	2%{ background-image: conic-gradient(var(--caroCarrouselInverseColor) 2%, transparent 0%); }
	4%{ background-image: conic-gradient(var(--caroCarrouselInverseColor) 4%, transparent 0%); }
	6%{ background-image: conic-gradient(var(--caroCarrouselInverseColor) 6%, transparent 0%); }
	8%{ background-image: conic-gradient(var(--caroCarrouselInverseColor) 8%, transparent 0%); }
	
	10%{ background-image: conic-gradient(var(--caroCarrouselInverseColor) 10%, transparent 0%); }
	12%{ background-image: conic-gradient(var(--caroCarrouselInverseColor) 12%, transparent 0%); }
	14%{ background-image: conic-gradient(var(--caroCarrouselInverseColor) 14%, transparent 0%); }
	16%{ background-image: conic-gradient(var(--caroCarrouselInverseColor) 16%, transparent 0%); }
	18%{ background-image: conic-gradient(var(--caroCarrouselInverseColor) 18%, transparent 0%); }

	20%{ background-image: conic-gradient(var(--caroCarrouselInverseColor) 20%, transparent 0%); }
	22%{ background-image: conic-gradient(var(--caroCarrouselInverseColor) 22%, transparent 0%); }
	24%{ background-image: conic-gradient(var(--caroCarrouselInverseColor) 24%, transparent 0%); }
	26%{ background-image: conic-gradient(var(--caroCarrouselInverseColor) 26%, transparent 0%); }
	28%{ background-image: conic-gradient(var(--caroCarrouselInverseColor) 28%, transparent 0%); }

	30%{ background-image: conic-gradient(var(--caroCarrouselInverseColor) 30%, transparent 0%); }
	32%{ background-image: conic-gradient(var(--caroCarrouselInverseColor) 32%, transparent 0%); }
	34%{ background-image: conic-gradient(var(--caroCarrouselInverseColor) 34%, transparent 0%); }
	36%{ background-image: conic-gradient(var(--caroCarrouselInverseColor) 36%, transparent 0%); }
	38%{ background-image: conic-gradient(var(--caroCarrouselInverseColor) 38%, transparent 0%); }

	40%{ background-image: conic-gradient(var(--caroCarrouselInverseColor) 40%, transparent 0%); }
	42%{ background-image: conic-gradient(var(--caroCarrouselInverseColor) 42%, transparent 0%); }
	44%{ background-image: conic-gradient(var(--caroCarrouselInverseColor) 44%, transparent 0%); }
	46%{ background-image: conic-gradient(var(--caroCarrouselInverseColor) 46%, transparent 0%); }
	48%{ background-image: conic-gradient(var(--caroCarrouselInverseColor) 48%, transparent 0%); }

	50%{ background-image: conic-gradient(var(--caroCarrouselInverseColor) 50%, transparent 0%); }
	52%{ background-image: conic-gradient(var(--caroCarrouselInverseColor) 52%, transparent 0%); }
	54%{ background-image: conic-gradient(var(--caroCarrouselInverseColor) 54%, transparent 0%); }
	56%{ background-image: conic-gradient(var(--caroCarrouselInverseColor) 56%, transparent 0%); }
	58%{ background-image: conic-gradient(var(--caroCarrouselInverseColor) 58%, transparent 0%); }

	60%{ background-image: conic-gradient(var(--caroCarrouselInverseColor) 60%, transparent 0%); }
	62%{ background-image: conic-gradient(var(--caroCarrouselInverseColor) 62%, transparent 0%); }
	64%{ background-image: conic-gradient(var(--caroCarrouselInverseColor) 64%, transparent 0%); }
	66%{ background-image: conic-gradient(var(--caroCarrouselInverseColor) 66%, transparent 0%); }
	68%{ background-image: conic-gradient(var(--caroCarrouselInverseColor) 68%, transparent 0%); }

	70%{ background-image: conic-gradient(var(--caroCarrouselInverseColor) 70%, transparent 0%); }
	72%{ background-image: conic-gradient(var(--caroCarrouselInverseColor) 72%, transparent 0%); }
	74%{ background-image: conic-gradient(var(--caroCarrouselInverseColor) 74%, transparent 0%); }
	76%{ background-image: conic-gradient(var(--caroCarrouselInverseColor) 76%, transparent 0%); }
	78%{ background-image: conic-gradient(var(--caroCarrouselInverseColor) 78%, transparent 0%); }

	80%{ background-image: conic-gradient(var(--caroCarrouselInverseColor) 80%, transparent 0%); }
	82%{ background-image: conic-gradient(var(--caroCarrouselInverseColor) 82%, transparent 0%); }
	84%{ background-image: conic-gradient(var(--caroCarrouselInverseColor) 84%, transparent 0%); }
	86%{ background-image: conic-gradient(var(--caroCarrouselInverseColor) 86%, transparent 0%); }
	88%{ background-image: conic-gradient(var(--caroCarrouselInverseColor) 88%, transparent 0%); }

	90%{ background-image: conic-gradient(var(--caroCarrouselInverseColor) 90%, transparent 0%); }
	92%{ background-image: conic-gradient(var(--caroCarrouselInverseColor) 92%, transparent 0%); }
	94%{ background-image: conic-gradient(var(--caroCarrouselInverseColor) 94%, transparent 0%); }
	96%{ background-image: conic-gradient(var(--caroCarrouselInverseColor) 96%, transparent 0%); }
	98%{ background-image: conic-gradient(var(--caroCarrouselInverseColor) 98%, transparent 0%); }
	
	100%{ background-image: conic-gradient(var(--caroCarrouselInverseColor) 100%, transparent 0%); }
}




/****************************************************************/
/* VIERDE SECTION /*
/****************************************************************/

main section:nth-of-type(4) div {
  display: flex;
  flex-direction: column;
  margin-top:9em;
  margin-left:2em;
}

main section:nth-of-type(4) img {
  width: 100%;
  object-fit: cover;
  position: relative; 
  display: block;
  margin-left: -18em;
  top:-24.7em;
}


/*********************/
/* VIERDE SECTION FONTS */

:root {
  --color-div-h2: #13670b;
  --color-div-h3: #999999;
  --color-div-p: #999999;
  --color-div-button-text: white;
  --color-div-button-background: #cccccc;

  --color-div-hover-text: white;
  --color-div-hover-background:black;
  --color-div-focus-background: #cccccc;
  --color-div-active-text:white;
  --color-div-active-background: #e3000f;
}


main section:nth-of-type(4) div h2 {
  font-family: Heineken;
  font-size: 1.875em;
  color: var(--color-div-h2);
  letter-spacing: .031875rem;
  margin:0;
  padding: 0.1em;
  list-style-type: none;
  text-decoration: none;
  margin-left:2.7em;
  order: 2;
}

main section:nth-of-type(4) div h3 {
  font-size: .75em;
  font-family: PT sans, sans-serif;
  font-weight:lighter;
  color: var(--color-div-h3);
  text-transform: uppercase;
  text-decoration: none;
  list-style-type: none;
  letter-spacing: .031875rem;
  margin-left:7em;
  order:1;
}

main section:nth-of-type(4) div p {
  font-size: 1em;
  font-family: PT sans, sans-serif;
  font-weight:lighter;
  color: var(--color-div-p);
  text-decoration: none;
  list-style-type: none;
  letter-spacing: .031875rem;
  margin-left:5.3em;
  width: 15em;
  order:3;
}

main section:nth-of-type(4) div a {
  font-family: PT sans, sans-serif;
  color: var(--color-div-button-text);
  background-color: var(--color-div-button-background);
  letter-spacing: .031875rem;
  text-decoration: none;
  margin-top: 2.5em;
  margin-left:5.5em;
  padding: 0.8em;
  text-align: center;
  display: inline-block;
  border-radius: 0;
  cursor: pointer;
  width: 9.5em;
  z-index:-1;
  order:4;
}

main section:nth-of-type(4) div a:hover {
  background-color: var(--color-div-hover-background);
  color: var(--color-div-hover-text);
  cursor:pointer;
}

main section:nth-of-type(4) div a:focus{
  outline:none;
  background-color: var(--color-div-focus-background);
}

main section:nth-of-type(4) div a:active{
  background-color:var(--color-div-active-background);
  color: var(--color-div-active-text);
}




/****************************************************************/
/* VIJFDE SECTION /*
/****************************************************************/
:root {
  --color-h2: #13670b;
  --color-h3: #999999;
  --color-p: #999999;
}


main section:nth-of-type(5) {
  display: flex;
  flex-direction: column;
}

/*********************/
/* VIJFDE SECTION FONTS */

main section:nth-of-type(5) h2 {
  font-family: Heineken;
  font-size: 1.875em;
  color: var(--color-h2);
  letter-spacing: .031875rem;
  margin:0;
  padding: 0.1em;
  list-style-type: none;
  text-decoration: none;
  margin-left:1.3em;
  order: 2;
}

main section:nth-of-type(5) h3 {
  font-size: .75em;
  font-family: PT sans, sans-serif;
  font-weight:lighter;
  color: var(--color-h3);
  text-transform: uppercase;
  text-decoration: none;
  list-style-type: none;
  letter-spacing: .031875rem;
  margin-left:3.5em;
  margin-top: -25em;
  order:1;
}

main section:nth-of-type(5) p {
  font-size: 1em;
  font-family: PT sans, sans-serif;
  font-weight:lighter;
  color: var(--color-p);
  text-decoration: none;
  list-style-type: none;
  letter-spacing: .031875rem;
  margin-left:2.5em;
  width: 19em;
  order:3;
}




/****************************************************************/
/* ZESDE SECTION  /*
/****************************************************************/
:root {
  --color-formule1-h3: white;
  --color-formule1-h4: #ffffffb3;
  --color-formule1-p: #ffffffb3;

  --color-nietdrinken-h3: white;
  --color-nietdrinken-h4: #ffffffb3;
  --color-nietdrinken-p: #ffffffb3;
}


section:nth-of-type(6) ul {
  display: grid;
  grid-template-columns: 21em ;
  grid-template-rows: 15em 15em;
  gap: 1em;
  padding: 1em;
  margin:0;
  position:relative;
  list-style-type: none;
  z-index: -1;
}

main section:nth-of-type(6) ul li:nth-of-type(1) img {
  grid-column: 1/3;
  grid-row:1/2;
  list-style-type: none;
  text-decoration: none;
  height:100%;
  width:100%;
  object-fit: cover;
  position:relative;
  display:block;
  filter:brightness(.5);
  cursor:pointer;
}

main section:nth-of-type(6) ul li:nth-of-type(1) img:nth-of-type(2) {
  width:20%;
  height:7%;
  margin-left: 16em;
  top:10em;
}

main section:nth-of-type(6) ul li:nth-of-type(2) img {
  grid-column: 1/3;
  grid-row:2/3;
  list-style-type: none;
  text-decoration: none;
  height:100%;
  width:100%;
  object-fit: cover;
  position:relative;
  display:block;
  filter:brightness(.5);
  cursor:pointer;
}

main section:nth-of-type(6) ul li:nth-of-type(2) img:nth-of-type(2) {
  width:12%;
  height:23%;
  z-index:1;
  margin-left: 17em;
  top:8.5em;
}

.formule1  {
  position:absolute;
  left: 2em;
  width: 12em;
  height: 8em;
  display:flex;
  flex-direction: column;
  background: transparent radial-gradient(closest-side at 50% 50%,#51a025 0%,#13670b 71%,#005d1f 100%) 0% 0% no-repeat padding-box;
  opacity: .9;
  top:167em;
}

.formule1 h3 {
  font-family: Heineken;
  color: var(--color-formule1-h3);
  font-size: 1.125em;
  top: 0em;
  margin:0;
  left: 1em;
  padding-left:0.4em;
  text-overflow: ellipsis;
  white-space: wrap;
  overflow: hidden;
  order: 2;
  width:6em;
}

.formule1 h4 {
  font-family: PT sans, sans-serif;
  font-size: 0.750em;
  font-weight:lighter;
  text-transform: uppercase;
  text-decoration: none;
  list-style-type: none;
  letter-spacing: .031875rem;
  color: var(--color-formule1-h4);
  padding-left:0.4em;
  order:1;
}

.formule1 p {
  font-family: PT sans, sans-serif;
  font-size: 0.625em;
  color: var(--color-formule1-p);
  padding-left:0.4em;
  white-space: wrap;
  overflow: hidden;  
  order: 3;
  text-decoration:none;
  list-style-type: none;
  width:15em;
}

.nietdrinken  {
  position:absolute;
  left: 2em;
  width: 12em;
  height: 8em;
  display:flex;
  flex-direction: column;
  background: transparent radial-gradient(closest-side at 50% 50%,#51a025 0%,#13670b 71%,#005d1f 100%) 0% 0% no-repeat padding-box;
  opacity: .9;
  top:183em;
}

.nietdrinken h3 {
  font-family: Heineken;
  color: var(--color-nietdrinken-h3);
  font-size: 1.125em;
  top: 0em;
  margin:0;
  left: 1em;
  padding-left:0.4em;
  text-overflow: ellipsis;
  white-space: wrap;
  overflow: hidden;
  order: 2;
  width:8em;
  height:2em;
}

.nietdrinken h4 {
  font-family: PT sans, sans-serif;
  font-size: 0.750em;
  font-weight:lighter;
  text-transform: uppercase;
  text-decoration: none;
  list-style-type: none;
  letter-spacing: .031875rem;
  color: var(--color-nietdrinken-h4);
  padding-left:0.4em;
  order:1;
}

.nietdrinken p {
  font-family: PT sans, sans-serif;
  font-size: 0.625em;
  color: var(--color-nietdrinken-p);
  padding-left:0.4em;
  white-space: wrap;
  overflow: hidden;  
  order: 3;
  text-decoration:none;
  list-style-type: none;
  width:15em;
}




/****************************************************************/
/* ZEVENDE SECTION  /*
/****************************************************************/
:root {
  --color-forminput-background: #ffffff1a;
  --color-forminput-placeholder-text: white;
  --color-form-button-background: #ffffff57;
  --color-form-button-text: white;

  --color-form-button-hover-background: white;
  --color-form-button-hover-text: #13670b;

  --color-label-text:white;

  --color-section7-h2: white;
  --color-section7-p: white;
}


section:nth-of-type(7)  {
  background: transparent radial-gradient(closest-side at 50% 50%,#51a025 0%,#13670b 71%,#005d1f 100%) 0% 0% no-repeat padding-box;
  opacity: .9;
  height:18em;
}

section:nth-of-type(7) form {
  display:flex;
  margin-left:2.8em;
}

section:nth-of-type(7) form input[type="email"] {
  background-color: var(--color-forminput-background);
  padding:.6875rem 1.25rem;
  border:.0625rem solid rgba(255,255,255,.2);
  display: block;
  border-radius: .5em 0 0 0.5em;
  cursor:pointer;
}

section:nth-of-type(7) form input::placeholder {
  color: var(--color-forminput-placeholder-text);
}

section:nth-of-type(7) form button {
  background-color:var(--color-form-button-background);
  color:var(--color-form-button-text);
  padding:.6875rem 1.25rem;
  border:.0625rem solid rgba(255,255,255,.2);
  border-radius: 0 0.5em 0.5em 0;
}

section:nth-of-type(7) form button:hover {
  background-color:var(--color-form-button-hover-background);
  color:var(--color-form-button-hover-text);
}

section:nth-of-type(7) label {
  color: var(--color-label-text);
  font-family: PT sans, sans-serif;
  font-size: .875em;
  margin-left: .5em;
}

section:nth-of-type(7) h2 {
  font-family:Heineken;
  font-size:1.125em;
  color: var(--color-section7-h2);
  text-align: center;
  padding-top:2em;
}

section:nth-of-type(7) p {
  font-family: PT sans, sans-serif;
  font-size:.875em;
  color: var(--color-section7-p);
}




/****************************************************************/
/* FOOTER  /*
/****************************************************************/
:root {
  --color-footer-linkjes:white;
  --color-footer-p: white;
}

footer  {
  background: linear-gradient(180deg, rgba(0,93,31,1) 0%, rgba(0,0,0,1) 100%);
  height: 50em;
  position:relative;
}

footer img {
  width: 22%;
  margin-left: auto;
  margin-right:auto;
  display:block;
  padding-top:4em;
  padding-bottom:1.5em;
}


footer ul:nth-of-type(1) {
  margin-top:2em;
  padding-left:0em;
  display:block;
}

footer ul:nth-of-type(1) li a {
  font-family: PT sans, sans-serif;
  font-size:.875em;
  color: var(--color-footer-linkjes);
  text-decoration: none;
  list-style-type: none;
  line-height: 2.5em;
}

footer ul:nth-of-type(1) li {
  text-decoration: none;
  list-style-type: none;
  text-align: center;
}


footer ul:nth-of-type(1) li:hover {
  text-decoration: underline;
}


footer ul:nth-of-type(2) {
  display:flex;
  margin-top:-4em;
  margin-left:auto;
  margin-right:auto;
  width:80%;

}

footer ul:nth-of-type(2) li {
  padding:0em;
  margin:0em;
  text-decoration: none;
  list-style-type: none;

}


footer ul:nth-of-type(2) li:nth-of-type(1) a img {
  margin-left:0em;
  opacity:.4;
}

footer ul:nth-of-type(2) li:nth-of-type(1) a img:hover {
  opacity:1;
  
}

footer ul:nth-of-type(2) li:nth-of-type(2) a img {
  margin-left:1.5em;
  margin-top:4em;
  padding: 0em;
  margin-right:0em;
  opacity:.4;
}

footer ul:nth-of-type(2) li:nth-of-type(2) a img:hover {
  opacity:1;
  
}

footer ul:nth-of-type(2) li:nth-of-type(3) a img {
  margin-left:0em;
  opacity:.4;
}

footer ul:nth-of-type(2) li:nth-of-type(3) a img:hover {
  opacity:1;
  
}

footer ul:nth-of-type(2) li:nth-of-type(4) a img {
  margin-left:0em;
  opacity:.4;
}

footer ul:nth-of-type(2) li:nth-of-type(4) a img:hover {
  opacity:1;
  
}

footer p {
  font-family: PT sans, sans-serif;
  font-size:.875em;
  color: var(--color-footer-p);
  opacity:.4;
  text-align: center;
  margin-top:5em;
}

footer div a img {
  width:9%;
  opacity:.4;
  margin-top: -2em;
  display:block;
}

footer div a img:hover {
  opacity:1;
  
}





main section:nth-of-type(1) article h2 {
  color: pink;
}


main section:nth-of-type(2) article:nth-of-type(1) ul {
  display:grid;
}