body {
    margin: 0em;
}

/**********/
/* DIT IS DE HEADER */
/**********/

:root {
  --color-header-background:#000000;

  --color-header-button: white;

  --color-header-text: white;

  --color-header-hover-background: white;
  --color-header-hover-text:black;

  --color-header-focus-background: #13670b;

  --color-header-active-background: black;
  --color-header-active-text:white;
}


header {
  background-color: var(--color-header-background);
  position:sticky;
  top: 0;
  z-index:1;
  height:4.5em;
}

header a img  {
  width: 24%;
  padding: 0.9em;

  position:relative;
  
  color:var(--color-header-text);
  
  text-decoration:none;
  outline:none;
}

:root {
  --link-color:#20603b; /* darker SeaGreen */
  --link-visited-color:DarkSlateBlue;
  --link-background-color:LightYellow;
  --link-active-color:Crimson;
  
  --button-color:White;
  --button-background-color:#2d8653; /* slightly darker SeaGreen */
  --button-background-focus-color:#267347; /* darker SeaGreen */
  --button-background-active-color:Crimson;
  --button-border-color:rgba(0,0,0,.25);
  
  --input-color:#2d8653; /* slightly darker SeaGreen */
  --input-background-color:white;
  --input-background-hover-color:#ecf9f1; /* very light SeaGreen*/
  --input-placeholder-color:#8a9;
  --input-caret-color:Crimson;
}

header a img::before {
  content:"images/heineken-logo.svg";
  position:absolute;
  left:0;
  right:0;
  bottom:-.125em;
  
  height:.25em;
  
  background-color:currentcolor; /* zelfde als tekst */
  border-radius:.125em;
  
  transform-origin:right;
  transform:scalex(0);
  transition:transform .3s;
}

header a img:visited {
  color:var(--link-visited-color);
}

header a img:focus-visible {
  /* het is best een goed idee om de :focus van een link te laten opvallen */
  /* als je met de tab-toets door een pagina gaat, zie je dan goed waar je elke keer geland bent */
  background:var(--link-background-color);
}

header a img:hover {
  /* nada - zie ::before */
}

header a img:hover::before {
  transform-origin:left;
  transform:scalex(1);
}

header a img:active {
  /* als alles lekker snel gaat zie je dit niet */
  /* maar des te meer reden om de :active state wel te definieren */
  /* juist als iets traag verloopt, krijg je dan feedback */
  color:var(--link-active-color);
}







header button {
  z-index: 100;
  position: relative;
  right: -13.5em;
  top: -1.2em; 
  background-color: transparent;
  color: var(--color-header-button);
  cursor: pointer;
  border:none;
}

header nav {
  padding-top:4em;
  position: fixed;
  top:0;
  bottom:0;
  left:0em;
  right:0;
  text-align: left;
  background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,93,31,1) 100%);
  transform: translateX(-100%);
  transition: .3s;
  line-height:3em;
  font-family: PT sans, sans-serif;
  font-size: 0.875em;
  z-index:-1;
}

header.menuOpen nav {
  transform: translateX(0%);
  opacity: 100;
}

header nav ul  {
  margin:0; 
  padding:1em;
  list-style:none;
}

header nav ul li {
  margin-left: 10em;
  display: block;
  transition-duration: 0.5s;
}
  
header nav ul li:hover {
text-decoration: underline;
cursor: pointer; 
}

header nav ul li a {
  font-family: PT sans, sans-serif;
  font-size: 0.875em;
  letter-spacing: .031875rem;
  color: var(--color-header-text);
  text-transform: uppercase;
  text-decoration: none;
  list-style-type: none;
}


/****************************/
/** CODE VOOR MENU KNOP, CODE VAN SANNE HULP GEKREGEN DUS BEGRIJP NIET ALLES! **/
/****************************/

/* Simpele CSS Remedy */
/* naar een idee van Jen Simmons */
/* github.com/jensimmons/cssremedy */
*, *::after, *::before {
  box-sizing:border-box;  
}

button:not([disabled]), summary {
	cursor:pointer;
}

/***********************/
/** CUSTOM PROPERTIES **/
/***********************/

:root {
  --color-button-text:#fff;
  
  --color-button-background:hsl(210, 100%, 56%);
  --color-button-background-active:hsl(210, 100%, 46%);
  --color-button-background-open:hsl(348, 83%, 47%);
  
  --color-button-icon-open:gold;
  
  /* voor de 3D kubus */
  --color-button-background-dark:hsl(210, 100%, 41%);
  --color-button-background-open-dark:hsl(348, 83%, 32%);
}






/****************************************************************/
/* FOOTER  /*
/****************************************************************/
:root {
  --color-footer-linkjes:white;
  --color-footer-p: white;
}

footer  {
  background: linear-gradient(180deg, rgba(0,93,31,1) 0%, rgba(0,0,0,1) 100%);
  height: 50em;
  position:relative;
}

footer img {
  width: 22%;
  margin-left: auto;
  margin-right:auto;
  display:block;
  padding-top:4em;
  padding-bottom:1.5em;
}


footer ul:nth-of-type(1) {
  margin-top:2em;
  padding-left:0em;
  display:block;
}

footer ul:nth-of-type(1) li a {
  font-family: PT sans, sans-serif;
  font-size:.875em;
  color: var(--color-footer-linkjes);
  text-decoration: none;
  list-style-type: none;
  line-height: 2.5em;
}

footer ul:nth-of-type(1) li {
  text-decoration: none;
  list-style-type: none;
  text-align: center;
}


footer ul:nth-of-type(1) li:hover {
  text-decoration: underline;
}


footer ul:nth-of-type(2) {
  display:flex;
  margin-top:-4em;
  margin-left:auto;
  margin-right:auto;
  width:80%;

}

footer ul:nth-of-type(2) li {
  padding:0em;
  margin:0em;
  text-decoration: none;
  list-style-type: none;

}


footer ul:nth-of-type(2) li:nth-of-type(1) a img {
  margin-left:0em;
  opacity:.4;
}

footer ul:nth-of-type(2) li:nth-of-type(1) a img:hover {
  opacity:1;
  
}

footer ul:nth-of-type(2) li:nth-of-type(2) a img {
  margin-left:1.5em;
  margin-top:4em;
  padding: 0em;
  margin-right:0em;
  opacity:.4;
}

footer ul:nth-of-type(2) li:nth-of-type(2) a img:hover {
  opacity:1;
  
}

footer ul:nth-of-type(2) li:nth-of-type(3) a img {
  margin-left:0em;
  opacity:.4;
}

footer ul:nth-of-type(2) li:nth-of-type(3) a img:hover {
  opacity:1;
  
}

footer ul:nth-of-type(2) li:nth-of-type(4) a img {
  margin-left:0em;
  opacity:.4;
}

footer ul:nth-of-type(2) li:nth-of-type(4) a img:hover {
  opacity:1;
  
}

footer p {
  font-family: PT sans, sans-serif;
  font-size:.875em;
  color: var(--color-footer-p);
  opacity:.4;
  text-align: center;
  margin-top:5em;
}

footer div a img {
  width:9%;
  opacity:.4;
  margin-top: -2em;
  display:block;
}

footer div a img:hover {
  opacity:1;
  
}





main section:nth-of-type(1) article h2 {
  color: pink;
}


main section:nth-of-type(2) article:nth-of-type(1) ul {
  display:grid;
}